#catalog {

}

.catalog {
  &__wrapper {
    padding-left: 50px;
  }

  &__title {
    padding-top: 55px;
    font-weight: 700;
    font-size: 42px;
    font-family: $font-title;

    @media screen and (max-width: $notebook) {
      font-size: 40px;
    }
    @media screen and (max-width: $tablet) {
      font-size: 30px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 26px;
    padding-top: 36px;
    padding-bottom: 64px;
  }

  &__item {
    position: relative;
    display: grid;
    // flex-direction: column;
    // align-items: center;
    // margin: 20px;

    padding: 24px 34px;
    border-radius: 25px;
    background: $palette-white;
    box-shadow: 0 0 26px 0 #bbab9d66;

    @media screen and (max-width: $laptop) {
      padding: 34px 22px 29px;
    }
    @media screen and (max-width: $notebook) {
      padding: 29px 10px;
    }

    picture {
      justify-self: center;
      max-width: 250px;
      padding-top: 15px;
    }

    &--labels {
      position: absolute;
      top: 30px;
      right: 30px;
      display: flex;
      gap: 6px;

      @media screen and (max-width: $notebook) {
        right: 16px;
      }
      @media screen and (max-width: $notebook) {
        flex-direction: column;
      }

      & > div {
        padding: 10px 11px;
        border-radius: 20px;
        color: $color-text__white;
        font-size: $font__text--small;

        @media screen and (max-width: $notebook) {
          padding: 4px 6px;
          font-size: 12px;
        }
      }
    }

    &--day {
      background: #ff6b6b;
    }

    &--popular {
      background: #3d3d3d;
    }

    &--new {
      background: #5cc00e;
    }

    &--title {
      padding-top: 23px;
      font-weight: 600;
      font-size: $font__text--large;
      line-height: 120%; /* 28.8px */

      @media screen and (max-width: $big-laptop) {
        font-size: 22px;
        text-align: center;
      }
      @media screen and (max-width: $tablet) {
        font-size: 16px;
      }
    }

    &--weight {
      display: block;
      padding-top: 6px;
      color: #ccb7a4;
      font-size: $font__text--big;
      line-height: 140%; /* 25.2px */

      @media screen and (max-width: $big-laptop) {
        text-align: center;
      }
      @media screen and (max-width: $tablet) {
        font-size: 16px;
      }
    }

    &--order {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media screen and (max-width: $big-laptop) {
       flex-direction: column;
       gap: 7px;
      }
    }

    &--price {
      font-weight: 500;
      font-size: $font__title--small;

      @media screen and (max-width: $big-laptop) {
        font-size: 30px;
       }
       @media screen and (max-width: $tablet) {
        font-size: 24px;
      }
    }

    .button-popular {
      font-weight: 500;
      font-size: 20px;
      transition: $transition-time ease;

      @media screen and (max-width: $big-laptop) {
        width: auto;
       }
       @media screen and (max-width: $tablet) {
        padding: 17px 40px;
        font-size: 16px;
      }

      &:hover {
        border: 1px solid #01614a;
        background-color: #01614a;
      }
    }
  }
}