.card {
  &__title {
    padding-top: 28px;
    font-weight: 700;
    font-size: 42px;
    font-family: $font-title;

    @media screen and (max-width: $notebook) {
      font-size: 40px;
    }
    @media screen and (max-width: $tablet) {
      font-size: 30px;
    }
  }

  .video-recipe__wrapper {
    grid-template-columns: 2.6fr 1fr;

    @media screen and (max-width: $notebook) {
      grid-template-columns: 1fr;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 1fr;
    gap: 50px;
    align-items: center;

    @media screen and (max-width: $tablet) {
      grid-template-columns: 1fr 4fr;
    }
  }

  &__product {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%; /* 28.8px */

    span {
      display: block;
      color: #ccb7a4;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%; /* 25.2px */
    }
  }

  &__quantity {
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: space-between;
    width: 194px;
    margin-top: -7px;
    padding: 12px 24px;
    border-radius: 6px;
    background: #e6e6e6;

    @media screen and (max-width: $tablet) {
      gap: 15px;
      width: auto;
    }

    a {
      transition: $transition-time ease;

      &:first-child {
        display: flex;
        align-items: center;
        height: 24px;
      }

      &:hover {
        opacity: 0.5;
      }
    }

    &--minus {
      width: 27px;
      height: 2px;
      background: #ab9178;
    }

    &--plus {
      margin-top: -6px;
    }
  }

  &__price {
    font-weight: 500;
    font-size: 30px;
    white-space: nowrap;
  }

  .video-recipe__ingredients {
    margin-top: 0;
    padding-top: 60px;
    padding-right: 60px;

    & > ul {
      gap: 18px;
    }
  }

  &__itogo {
    font-weight: 700;
    font-size: 20px;
    line-height: 112%; /* 22.4px */

    span {
      font-size: 24px;
    }
  }

  .button {
    width: 100%;
    margin-top: 18px;
  }

  &__delivery {
    padding-top: 26px;
    color: #ab9178;
    font-size: 18px;
    line-height: 112%; /* 20.16px */
  }
}
