.card {
  &__title {
    padding-top: 28px;
    font-weight: 700;
    font-size: 42px;
    font-family: $font-title;

    @media screen and (max-width: $notebook) {
      font-size: 40px;
    }
    @media screen and (max-width: $tablet) {
      font-size: 30px;
    }
  }

  &__first-line {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 17px;
  }

  &__products {
    font-size: 24px;
    line-height: 112%; /* 26.88px */
  }

  &__clean {
    color: #ab9178;
    font-size: 18px;
    line-height: 112%; /* 20.16px */
    text-align: right;
  }

  .video-recipe__wrapper {
    grid-template-columns: 1fr;
    gap: 0;

    // @media screen and (max-width: $notebook) {
    //   grid-template-columns: 1fr;
    // }
  }

  &__wrapper {
    border-radius: 25px;
    background: $palette-white;
    box-shadow: 0 0 26px 0 #bbab9d33;

    @media screen and (max-width: $tablet) {
      grid-template-columns: 1fr 3fr 1fr;
    }

    &--row {
      display: grid;
      grid-template-columns: 1fr 3fr 0.6fr 2fr 1fr 0.5fr;
      gap: 50px;
      align-items: center;
      padding: 25px 0 25px 70px;

      @media screen and (max-width: $notebook) {
        grid-template-columns: 1fr 3fr 1fr;
      }
      @media screen and (max-width: $tablet) {
        grid-template-columns: 1fr 2fr;
        gap: 10px;
        padding: 25px 0 25px 30px;
      }
      @media screen and (max-width: $mobile) {
        grid-template-columns: 1fr;
        padding: 25px 0 25px 10px;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #ccb7a4;
      }
    }
  }

  &__product {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%; /* 28.8px */

    // @media screen and (max-width: $tablet) {
    //   grid-column: 2/4;
    // }

    &--second {
      font-weight: 500;
    }

    span {
      display: block;
      color: #ccb7a4;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%; /* 25.2px */
    }
  }

  &__quantity {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
    width: 194px;
    margin-top: -7px;
    padding: 12px 24px;
    border-radius: 6px;
    background: #e6e6e6;

    @media screen and (max-width: $tablet) {
      gap: 15px;
      width: auto;
    }

    a {
      transition: $transition-time ease;

      &:first-child {
        display: flex;
        align-items: center;
        height: 24px;
      }

      &:hover {
        opacity: 0.5;
      }
    }

    &--minus {
      width: 27px;
      height: 2px;
      background: #ab9178;
    }

    &--plus {
      margin-top: -6px;
    }

    &--input {
      border: unset;
      outline: none;
      background-color: unset;
      text-align: center;
    }
  }

  &__price {
    font-weight: 500;
    font-size: 30px;
    white-space: nowrap;

    @media screen and (max-width: $mobile) {
      justify-self: center;
    }
  }

  &__delete {
    @media screen and (max-width: $tablet) {
      justify-self: center;
    }

    a {
      transition: $transition-time ease;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__info {
    display: grid;
    grid-template-columns: 300px 3fr 1fr;
    align-items: center;
    padding: 33px 100px;
    border-radius: 20px 150px 20px 20px;
    background: #e3d2c2;

    @media screen and (max-width: $notebook) {
      padding: 33px;
    }

    @media screen and (max-width: $tablet) {
      grid-template-columns: 1fr;
      gap: 20px;
    }
    @media screen and (max-width: $mobile) {
      padding: 30px;
    }
  }

  &__itogo {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    font-weight: 700;
    font-size: 20px;
    line-height: 112%; /* 22.4px */

    @media screen and (max-width: $tablet) {
      min-width: unset;
      max-width: 200px;
    }

    span {
      font-size: 24px;
    }
  }

  .button {
    width: 300px;
    // margin-right: 317px;
    // margin-top: 18px;

    @media screen and (max-width: $mobile) {
      width: unset;
    }
  }

  &__delivery {
    padding-top: 26px;
    color: #ab9178;
    font-size: 18px;
    line-height: 112%; /* 20.16px */
  }

  .basket-items-list-item-clear-btn::after,
  .basket-items-list-item-clear-btn::before {
    background: #04B575;
  }
}
