// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к подвалу сайта
// -----------------------------------------------------------------------------

#footer {
  background-color: #073f31;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1434" height="246" viewBox="0 0 1434 246" fill="none"><path d="M855.5 68.3807C662.7 92.7948 113.5 0.830505 0 0.830505L29 -2.59845L1460 -17V246C1431.83 242.342 1355.4 225.083 1275 185.308C1174.5 135.588 1096.5 37.8631 855.5 68.3807Z" fill="white"/></svg>');
  background-position: top right;
  background-repeat: no-repeat;

  @media screen and (max-width: $laptop) {
    background-position: top left 120px;
  }
}

.footer {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: end;
    padding-top: 24px;
    padding-bottom: 40px;

    @media screen and (max-width: $laptop) {
      grid-template-columns: 1fr 1fr 1.5fr 1.4fr 1fr;
    }
    @media screen and (max-width: $notebook) {
      grid-template-columns: 1fr 1fr 1.5fr;
      gap: 50px;
    }
    @media screen and (max-width: $tablet) {
      grid-template-columns: 1fr 1.5fr;
      align-items: start;
    }
    @media screen and (max-width: $mobile) {
      padding: 24px 20px 0;
    }
  }

  &__logo {
    @media screen and (max-width: $tablet) {
      display: flex;
      grid-column: 1/3;
      gap: 49px;
      justify-content: space-between;
    }

    img {
      background: #d3d3d3 50%;
      mix-blend-mode: darken;

      @media screen and (max-width: $laptop) {
        max-height: 114px;
      }
    }
  }

  &__copyrights {
    padding-top: 14px;
    color: #a48b74;
    font-size: 18px;
    line-height: 135%; /* 24.3px */

    @media screen and (max-width: $tablet) {
      max-width: 255px;
    }
    @media screen and (max-width: $mobile) {
      max-width: 150px;
    }

    span {
      display: block;
      padding-top: 15px;
    }
  }

  &__menu,
  &__links {
    color: #e3d2c2;
    font-size: 18px;
    line-height: 155%; /* 27.9px */
  }

  &__contacts {
    @media screen and (max-width: $laptop) {
      display: flex;
      grid-column: 1/3;
      justify-content: space-between;
    }
  }

  &__socials {
    display: flex;
    gap: 14px;
  }

  &__phonemail {
    @media screen and (max-width: $tablet) {
      padding-right: 60px;
    }
    @media screen and (max-width: $mobile) {
      padding-right: 0;
    }
  }

  &__phone {
    padding-top: 27px;
    color: #e3d2c2;
    font-weight: 700;
    font-size: 30px;
    line-height: 155%; /* 46.5px */

    @media screen and (max-width: $big-laptop) {
      font-size: 24px;
    }
    @media screen and (max-width: $tablet) {
      padding-top: 0;
    }
  }

  &__mail {
    color: #e3d2c2;
    font-weight: 700;
    font-size: 22px;
    line-height: 155%; /* 34.1px */

    @media screen and (max-width: $big-laptop) {
      font-size: 20px;
    }
  }

  &__creation {
    color: #a5876b;
    font-size: 18px;
    line-height: 135%; /* 24.3px */

    @media screen and (max-width: $laptop) {
      display: flex;
      justify-content: flex-end;
      max-width: 150px;
    }
    @media screen and (max-width: $tablet) {
      grid-column: 1/3;
      justify-content: center;
      max-width: unset;
    }
    @media screen and (max-width: $mobile) {
      margin: 0 -20px;
      padding: 7px 0;
      border-top: 1px solid #a5876b;
    }
  }

  &-mail {
    &__close {
      display: flex;
      justify-content: flex-end;
    }

    &__popup {
      position: absolute;
      z-index: -10;
      top: 0;
      left: 0;
      display: table;
      width: 100%;
      height: 100vh;
      opacity: 0;

      .container {
        display: table-cell;
        vertical-align: middle;
        padding: 0 10px;
      }

      // &.hidden {
      //   display: none;
      // }

      &.is-active {
        z-index: 20;
        opacity: 1;
      }

      &--wrapper {
        width: 600px;
        height: auto;
        margin: auto;
        padding: 19px 22px 80px;
        border-radius: 40px;
        background: linear-gradient(76deg, #3bc090 14.59%, #008555 76.02%), $palette-white;
        color: $color-text__white;

        @media screen and (max-width: $tablet) {
          width: auto;
          max-width: 600px;
        }
      }
    }

    &__title {
      max-width: 445px;
      margin: 0 auto;
      font-weight: 700;
      font-size: 48px;
      font-family: $font-title;
      line-height: 105%; /* 50.4px */
      text-align: center;

      @media screen and (max-width: $tablet) {
        max-width: 245px;
        font-size: 30px;
      }
    }

    &__text {
      display: flex;
      justify-content: center;
      padding-top: 14px;
      font-size: 22px;
      text-align: center;

      @media screen and (max-width: $tablet) {
        // max-width: 245px;

        font-size: 18px;
      }
    }
  }

  &-card {
    &__close {
      display: flex;
      justify-content: flex-end;
    }

    &__popup {
      position: absolute;
      z-index: -10;
      top: 0;
      left: 0;
      display: table;
      width: 100%;
      height: 100vh;
      opacity: 0;

      .container {
        display: table-cell;
        vertical-align: middle;
        padding: 0 10px;
      }

      &.is-active {
        z-index: 20;
        opacity: 1;
      }

      &--wrapper {
        width: 600px;
        height: auto;
        margin: auto;
        padding: 19px 22px 80px;
        border-radius: 40px;
        background: linear-gradient(76deg, #3bc090 14.59%, #008555 76.02%), $palette-white;
        color: $color-text__white;

        @media screen and (max-width: $tablet) {
          width: auto;
          max-width: 600px;
        }
      }
    }

    &__title {
      max-width: 500px;
      margin: 0 auto;
      font-weight: 700;
      font-size: 48px;
      font-family: $font-title;
      line-height: 105%; /* 50.4px */
      text-align: center;

      @media screen and (max-width: $tablet) {
        max-width: 400px;
        font-size: 30px;
      }
    }

    &__buttons {
      display: flex;
      gap: 11px;
      justify-content: center;
      padding-top: 27px;
      font-size: 22px;
      text-align: center;

      @media screen and (max-width: $tablet) {
        flex-direction: column;
      }
    }
  }
}
