// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {

}

.header {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr  4fr 1.5fr 0.5fr 0.5fr;
    gap: 10px;
    place-items: center center;
  }


}