// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к блоку навигации
// -----------------------------------------------------------------------------

.nav {
  &__list {
  }

  &__item {
  }

  &__link {
  }

  &--header {
    .nav__list {
      display: flex;
      gap: 46px;

      // @include breakpoint($breakpoint-big-laptop) {
      //   gap: 31px;
      // }
      @media screen and (max-width: $big-laptop) {
        gap: 31px;
      }
    }

    .nav__item {
      &.current-menu-item {
        opacity: 0.5;
      }
    }

    .nav__link {
      font-size: 18px;
    }
  }

  &--footer {
    .nav__list {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .nav__item {
    }

    .nav__link {
      font-size: 18px;
    }
  }

  &--breadcrumb {
    // @media screen and (max-width: $mobile) {
    //   padding-left: 15px;
    // }

    .nav__list {
      display: flex;
      gap: 34px;
      padding: 15px 0;


      @media screen and (max-width: $tablet) {
        gap: 16px;
      }
    }

    .nav__item {
      position: relative;
      color: #ccb7a4;
      font-size: 18px;
      line-height: 140%; /* 25.2px */

      @media screen and (max-width: $notebook) {
        font-size: 13px;
      }

      & > a {
        transition: $transition-time ease;
        text-decoration-line: underline;

        &:hover {
          text-decoration: none;
        }
      }

      &:not(:first-child) {
        &::before {
          content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none"><circle cx="2.5" cy="2.5" r="2.5" fill="%23D7CCC1"/></svg>');
          position: absolute;
          top: -3px;
          left: -18px;
          width: 5px;
          margin-right: 6px;

          @media screen and (max-width: $tablet) {
            left: -10px;
          }
        }
      }
    }
  }

  &--pagination {
    .nav__list {
      display: flex;
      gap: 22px;
    }

    .nav__link {
      color: #AB9178;
      font-weight: 700;
      font-size: 18px;
      font-family: $font-title;

      &.current {
        opacity: 0.3;
      }
    }
  }
}

.pagination-page__nav {
  a.image-container {
    & > svg {
      transition: $transition-time ease;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
