// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к блоку навигации
// -----------------------------------------------------------------------------

.nav {
  &__list {
  }

  &__item {
  }

  &__link {
  }



  &--header {
    .nav__list {
      display: flex;
      gap: 46px;
    }

    .nav__item {

    }

    .nav__link {
      font-size: 18px;
    }
  }

  &--footer {
    .nav__list {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .nav__item {

    }

    .nav__link {
      font-size: 18px;
    }
  }
}
