// -----------------------------------------------------------------------------
// В этом файле прописываются стили относящиеся ко всем страницам
// -----------------------------------------------------------------------------

.page {
  display: flex;
  flex-direction: column;

  overflow-x: hidden;
  min-width: 330px;
  min-height: 100vh;

  .header-bottom__line {
    display: block;
    border-top: 1px solid #E3D2C2;
  }

  & > main {
    flex-grow: 1;
  }

  &__body {
    overflow: clip;
  }
}
