<section id="feedback" class="section">
  <div class="container">
    <div class="feedback__wrapper">
      <div class="feedback__title">
        Заинтересовало?
        <span>Свяжитесь с нами и мы ответим на все Ваши вопросы</span>
      </div>
      <!-- /.feedback__title -->
      <div class="feedback__info">
        <form action="#">
          <div class="feedback__form">
            <input type="text" placeholder="Имя" name="your-name" class="feedback__input">
            <input type="email" placeholder="E-mail" name="email" class="feedback__input">
            <input class="button button-secondary" type="submit" value="Связаться">
          </div>
          <!-- /.feedback__form -->
        </form>
      </div>
      <!-- /.feedback__info -->
      <div class="feedback__image">
        <picture class="lazy">
          <img class="image image--cover lazy__item" data-src="assets/images/layout/section/feedback/image.png" alt="">
        </picture>
      </div>
      <!-- /.feedback__image -->
    </div>
    <!-- /.feedback__wrapper -->
  </div>
  <!-- /.container -->
</section>
<!-- /#feedback.section -->