<div class="pagination-page">
  <div class="pagination-page__nav">
    <a class="link image-container" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="27" viewBox="0 0 15 27" fill="none">
        <path d="M13.9023 1L0.999117 13.5L13.9023 26" stroke="#AB9178"/>
      </svg>
    </a>

    <nav class="nav nav--pagination">
      <ol class="nav__list">
        <li class="nav__item"><a class="link nav__link current" href="#">1</a></li>
        <li class="nav__item"><a class="link nav__link" href="#">2</a></li>
        <li class="nav__item"><a class="link nav__link" href="#">...</a></li>
        <li class="nav__item"><a class="link nav__link" href="#">8</a></li>
      </ol>
    </nav>
    <!-- /.nav -->

    <a class="link image-container" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="27" viewBox="0 0 15 27" fill="none">
        <path d="M0.902344 1L13.8056 13.5L0.902344 26" stroke="#AB9178"/>
      </svg>
    </a>
  </div>
  <!-- /.pagination-page__nav -->
</div>
<!-- /.pagination-page -->