$grid-breakpoint: (
  mobile: 500px,
  tablet: 740px,
  notebook: 1200px,
  laptop: 1400px,
  big-laptop: 1500px,
) !default;

// Переменные для обратной адаптивности
$breakpoint-mobile: max-width map.get($grid-breakpoint, 'mobile');
$breakpoint-tablet: max-width map.get($grid-breakpoint, 'tablet');
$breakpoint-notebook: max-width map.get($grid-breakpoint, 'notebook');
$breakpoint-laptop: max-width map.get($grid-breakpoint, 'laptop');
$breakpoint-big-laptop: max-width map.get($grid-breakpoint, 'big-laptop');


$mobile-mini: 360px;
$mobile: 500px;
$tablet: 740px;
$notebook: 1200px;
$laptop: 1400px;
$big-laptop: 1500px;