#popular {
  .container {
    // max-width: 1638px;
  }
}

.popular {
  &__wrapper {
    // width: 1638px;

    margin: 0 auto;
    padding: 66px 20px 0;
    // padding: 66px 10px 0;

    @media screen and (max-width: $tablet) {
      padding: 66px 10px 0;
    }
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-bottom: 36px;

    @media screen and (max-width: $tablet) {
      grid-template-columns: 1fr;
    }
  }

  &__title,
  &__all {
    display: inline-flex;
  }

  &__title {
    justify-content: flex-start;
    font-weight: 700;
    font-size: 42px;
    font-family: $font-title;

    @media screen and (max-width: $notebook) {
      font-size: 40px;
    }
    @media screen and (max-width: $tablet) {
      font-size: 30px;
    }
  }

  &__all {
    justify-content: flex-end;
    padding-right: 14px;

    @media screen and (max-width: $tablet) {
      display: none;
    }

    &--down {
      display: none;

      @media screen and (max-width: $tablet) {
        display: flex;
        justify-content: center;
      }
    }
  }

  .swiper {
    padding: 20px;

    &-slide {
      position: relative;
      display: grid;
      // flex-direction: column;
      // align-items: center;
      // margin: 20px;

      padding: 24px 34px;
      border-radius: 25px;
      background: $palette-white;
      box-shadow: 0 0 26px 0 #bbab9d66;

      @media screen and (max-width: $laptop) {
        padding: 34px 22px 29px;
      }
      @media screen and (max-width: $notebook) {
        padding: 29px 10px;
      }

      picture {
        justify-self: center;
        max-width: 250px;
        padding-top: 15px;
      }

      &__labels {
        position: absolute;
        top: 30px;
        right: 30px;
        display: flex;
        gap: 6px;

        @media screen and (max-width: $notebook) {
          right: 16px;
        }
        @media screen and (max-width: $notebook) {
          flex-direction: column;
        }

        & > div {
          padding: 10px 11px;
          border-radius: 20px;
          color: $color-text__white;
          font-size: $font__text--small;

          @media screen and (max-width: $notebook) {
            padding: 4px 6px;
            font-size: 12px;
          }
        }
      }

      &__day {
        background: #ff6b6b;
      }

      &__popular {
        background: #3d3d3d;
      }

      &__new {
        background: #5cc00e;
      }

      &__title {
        overflow: hidden;
        min-height: 60px;
        max-height: 60px;
        padding-top: 23px;
        font-weight: 600;
        font-size: $font__text--large;
        line-height: 120%; /* 28.8px */

        @media screen and (max-width: $big-laptop) {
          font-size: 22px;
          text-align: center;
        }
        @media screen and (max-width: $tablet) {
          font-size: 16px;
        }
      }

      &__weight {
        display: block;
        padding-top: 6px;
        color: #ccb7a4;
        font-size: $font__text--big;
        line-height: 140%; /* 25.2px */

        @media screen and (max-width: $big-laptop) {
          text-align: center;
        }
        @media screen and (max-width: $tablet) {
          font-size: 16px;
        }
      }

      &__order {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: $big-laptop) {
          flex-direction: column;
          gap: 7px;
        }
      }

      &__price {
        font-weight: 500;
        font-size: $font__title--small;

        @media screen and (max-width: $big-laptop) {
          font-size: 30px;
        }
        @media screen and (max-width: $tablet) {
          font-size: 24px;
        }
      }

      .button-popular {
        font-weight: 500;
        font-size: 20px;
        transition: $transition-time ease;

        @media screen and (max-width: $big-laptop) {
          width: auto;
        }
        @media screen and (max-width: $tablet) {
          padding: 17px 40px;
          font-size: 16px;
        }
        @media screen and (max-width: $mini) {
          padding: 10px 20px;
          font-size: 15px;
        }
        @media screen and (max-width: $mobile-mini) {
          padding: 17px 40px;
          font-size: 16px;
        }

        &:hover {
          border: 1px solid #01614a;
          background-color: #01614a;
        }
      }
    }

    &-button-next,
    &-button-prev {
      // top: auto;
      // bottom: 45px;

      width: 43px;
      height: 94px;
      transition: $transition-time ease;

      &::after {
        display: none;
      }

      &:hover {
        filter: brightness(70%);
      }
    }

    &-button-next {
      right: 0;
      left: auto;
      background-image: url("data:image/svg+xml,%3Csvg width='44' height='95' viewBox='0 0 44 95' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M43.5 94.6765V0C32.4118 16.2059 0 20.3 0 46.9118C0 73.5235 33.2647 76.7647 43.5 94.6765Z' fill='%23F5F5F5'/%3E%3Cpath d='M11.9414 46.9118H36.6767M36.6767 46.9118L24.7355 58.8529M36.6767 46.9118L24.7355 34.9706' stroke='%233D3D3D' stroke-width='2'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      // background-position: center;
      // background-size: 100%;
    }

    &-button-prev {
      right: auto;
      left: 0;
      background-image: url("data:image/svg+xml,%3Csvg width='44' height='95' viewBox='0 0 44 95' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M43.5 94.6765V0C32.4118 16.2059 0 20.3 0 46.9118C0 73.5235 33.2647 76.7647 43.5 94.6765Z' fill='%23F5F5F5'/%3E%3Cpath d='M11.9414 46.9118H36.6767M36.6767 46.9118L24.7355 58.8529M36.6767 46.9118L24.7355 34.9706' stroke='%233D3D3D' stroke-width='2'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      transform: rotateY(180deg);
      // background-position: center;
      // background-size: 100%;
    }
  }
}
