#slider {
  .swiper {
    &-slide {
      position: relative;

      &__text {
        position: absolute;
        top: 144px;
        left: 95px;
        color: $color-text__white;

        h2 {
          font-weight: 700;
          font-size: 58px;
          font-family: $font-title;
          line-height: 130%; /* 75.4px */
          text-transform: uppercase;
        }

        span {
          display: flex;
          padding-top: 23px;
        }

        .button-slide {
          margin-top: 75px;
          border: none;
        }
      }
    }

    .swiper-button-next, .swiper-button-prev {
      top: auto;
      bottom: 45px;
      width: 54px;
      height: 54px;

      &::after {
        display: none;
      }
    }

    .swiper-button-next {
      right: 150px;
      left: auto;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='54' height='54' viewBox='0 0 54 54' fill='none'%3e%3crect width='54' height='54' rx='27' fill='white' fill-opacity='0.5'/%3e%3cpath d='M23 14L35.9032 26.5L23 39' stroke='%233D3D3D'/%3e%3c/svg%3e");
    }

    .swiper-button-prev {
      right: 216px;
      left: auto;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='54' height='54' viewBox='0 0 54 54' fill='none'%3e%3crect width='54' height='54' rx='27' transform='matrix(-1 0 0 1 54 0)' fill='white' fill-opacity='0.5'/%3e%3cpath d='M32 14L19.0968 26.5L32 39' stroke='%233D3D3D'/%3e%3c/svg%3e");
    }
  }
}
