#slider {
  .swiper {
    &-slide {
      position: relative;

      &__text {
        position: absolute;
        top: 144px;
        left: 95px;
        color: $color-text__white;

        h2 {
          font-weight: 700;
          font-size: 58px;
          font-family: $font-title;
          line-height: 130%; /* 75.4px */
          text-transform: uppercase;
        }

        span {
          display: flex;
          padding-top: 23px;
        }

        .button-slide {
          margin-top: 75px;
          border: none;
        }
      }
    }
  }
}
