#slider {
  .container {
    max-width: 1920px;
  }

  .swiper {
    &-slide {
      position: relative;

      &__text {
        position: absolute;
        top: 144px;
        left: 95px;
        color: $color-text__white;

        @media screen and (max-width: $desktop) {
          top: 117px;
        }
        @media screen and (max-width: $notebook) {
          top: 70px;
          max-width: 430px;
        }
        @media screen and (max-width: $tablet) {
          top: 35px;
          left: 15px;
          max-width: 430px;
        }

        h2 {
          font-weight: 700;
          font-size: 58px;
          font-family: $font-title;
          line-height: 130%; /* 75.4px */
          text-transform: uppercase;

          @media screen and (max-width: $desktop) {
            font-size: 48px;
          }
          @media screen and (max-width: $notebook) {
            font-size: 34px;
          }
          @media screen and (max-width: $tablet) {
            font-size: 28px;
          }
        }

        span {
          display: flex;
          padding-top: 23px;
          font-size: 18px;
          font-family: $font-second;

          @media screen and (max-width: $tablet) {
            font-size: 16px;
          }
        }

        .button-slide {
          margin-top: 75px;
          border: none;

          @media screen and (max-width: $notebook) {
            margin-top: 36px;
          }
          @media screen and (max-width: $tablet) {
            margin-top: 29px;
          }
        }
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      top: auto;
      bottom: 45px;
      width: 54px;
      height: 54px;

      @media screen and (max-width: $notebook) {
        bottom: 15px;
        width: 40px;
        height: 40px;
      }

      &::after {
        display: none;
      }
    }

    .swiper-button-next {
      right: 150px;
      left: auto;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='54' height='54' viewBox='0 0 54 54' fill='none'%3e%3crect width='54' height='54' rx='27' fill='white' fill-opacity='0.5'/%3e%3cpath d='M23 14L35.9032 26.5L23 39' stroke='%233D3D3D'/%3e%3c/svg%3e");

      @media screen and (max-width: $notebook) {
        right: 20px;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none"><rect width="40" height="40" rx="20" fill="white" fill-opacity="0.5"/><path d="M16 7L28.9032 19.5L16 32" stroke="%233D3D3D"/></svg>');
      }
      @media screen and (max-width: $tablet) {
        right: auto;
        left: 67px;
      }
    }

    .swiper-button-prev {
      right: 216px;
      left: auto;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='54' height='54' viewBox='0 0 54 54' fill='none'%3e%3crect width='54' height='54' rx='27' transform='matrix(-1 0 0 1 54 0)' fill='white' fill-opacity='0.5'/%3e%3cpath d='M32 14L19.0968 26.5L32 39' stroke='%233D3D3D'/%3e%3c/svg%3e");

      @media screen and (max-width: $notebook) {
        right: 70px;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none"><rect width="40" height="40" rx="20" transform="matrix(-1 0 0 1 40 0)" fill="white" fill-opacity="0.5"/><path d="M25 7L12.0968 19.5L25 32" stroke="%233D3D3D"/></svg>');
      }
      @media screen and (max-width: $tablet) {
        right: auto;
        left: 17px;
      }
    }
  }
}
