<div class="catalog__item">
  <picture class="lazy">
    <img alt="" class="image image--cover lazy__item"
      data-src="assets/images/layout/section/popular/product.jpg">
  </picture>
  <div class="catalog__item--labels">
    <div class="catalog__item--day">
      Товар дня
    </div>
    <!-- /.catalog__item--day -->
    <div class="catalog__item--popular">
      Популярное
    </div>
    <!-- /.catalog__item--popular -->
    <div class="catalog__item--new">
      Новинка
    </div>
    <!-- /.catalog__item--new -->
  </div>
  <!-- /.catalog__item--labels -->
  <div class="catalog__item--title">
    <a href="#">Костный куриный бульон<br>в две строчки</a>
  </div>
  <!-- /.catalog__item--title -->
  <span class="catalog__item--weight">400г</span>
  <div class="catalog__item--order">
    <span class="catalog__item--price">400 ₽</span>
    <a class="button button-primary button-popular" href="#">В корзину</a>
  </div>
  <!-- /.catalog__item--order -->
</div>
<!-- /.catalog__item -->