<div class="swiper-slide">
  <div class="swiper-slide__wrapper">
    <picture class="lazy">
      <img alt="" class="image image--cover lazy__item"
        data-src="assets/images/layout/section/popular/product.jpg">
    </picture>
    <div class="swiper-slide__labels">
      <div class="swiper-slide__day">
        Товар дня
      </div>
      <!-- /.swiper-slide__day -->
      <!-- <div class="swiper-slide__popular">
        Популярное
      </div> -->
      <!-- /.swiper-slide__popular -->
      <div class="swiper-slide__new">
        Новинка
      </div>
      <!-- /.swiper-slide__new -->
    </div>
    <!-- /.swiper-slide__labels -->
    <div class="swiper-slide__title">
      <a href="#">Костный куриный бульон<br>в две строчки</a>
    </div>
    <!-- /.swiper-slide__title -->
    <span class="swiper-slide__weight">400г</span>
    <div class="swiper-slide__order">
      <span class="swiper-slide__price">400 ₽</span>
      <a class="button button-primary button-popular" href="#">В корзину</a>
    </div>
    <!-- /.swiper-slide__order -->

  </div>
  <!-- /.swiper-slide__wrapper -->
</div>
<!-- /.swiper-slide -->