<footer id="footer" class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__logo">
        <a href="/"><img src="assets/images/global/footer-logo.svg" alt="лого"></a>
        <div class="footer__copyrights">
          &copy; ООО “ВМК”.<br>
          Все права защищены
          <span>624980, г. Серов, ул. Кирова, д.2</span>
        </div>
        <!-- /.footer__copyrights -->
      </div>
      <!-- /.footer__logo -->
      <div class="footer__menu">
        <nav class="nav nav--footer">
          <ul class="nav__list">
            <li class="nav__item current"><a href="#" class="nav__link">Каталог</a></li>
            <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Для кого</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Видеорецепты</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Новости</a></li>
          </ul>
        </nav>
      </div>
      <!-- /.footer__menu -->

      <div class="footer__links">
        <nav class="nav nav--footer">
          <ul class="nav__list">
            <li class="nav__item current"><a href="#" class="nav__link">Правила оплаты</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Правила доставки</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Правила возврата</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Персональные данные</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Пользовательское соглашение</a></li>
          </ul>
        </nav>
      </div>
      <!-- /.footer__links -->

      <div class="footer__contacts">
        <div class="footer__socials">
          <a href="#" class="footer__vk logo" target="_blank"><img src="assets/images/global/social-vk.svg" alt="Вконтакте"></a>
          <a href="#" class="footer__tg logo" target="_blank"><img src="assets/images/global/social-tg.svg" alt="Телеграмм"></a>
          <!-- <a href="#" class="footer__vk"></a> -->
        </div>
        <!-- /.footer__socials -->
        <div class="footer__phone">
          <a href="tel:+7944782255" class="logo">+7 (944) 78-22-55</a>
        </div>
        <!-- /.footer__phone -->
        <div class="footer__mail">
          <a href="mailto:kingbulion@gmail.ru" class="logo">kingbulion@gmail.ru</a>
        </div>
        <!-- /.footer__mail -->
      </div>
      <!-- /.footer__contacts -->

      <div class="footer__creation">
        Создание сайта <a href="https://artfactor.ru" target="_blank">АртФактор</a>
      </div>
      <!-- /.footer__creation -->


    </div>
    <!-- /.footer__wrapper -->

  </div>
  <!-- /.container -->
</footer>