<header id="header" class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__logo">
        <a href="/" class="logo"><img src="assets/images/global/logo.png" alt="лого"></a>
      </div>
      <!-- /.header__logo -->
      <div class="header__catalog">
        <a href="#" class="button-primary header-button">Каталог</a>
      </div>
      <!-- /.header__catalog -->
      <div class="header__menu">
        <nav class="nav nav--header">
          <ul class="nav__list">
            <li class="menu-item nav__item current-menu-item"><a href="#" class="nav__link link">О нас</a></li>
            <li class="menu-item nav__item"><a href="#" class="nav__link link">Для кого</a></li>
            <li class="menu-item nav__item"><a href="#" class="nav__link link">Видеорецепты</a></li>
            <li class="menu-item nav__item"><a href="#" class="nav__link link">Магазины-партнеры</a></li>
            <li class="menu-item nav__item"><a href="#" class="nav__link link">Новости</a></li>
          </ul>
        </nav>
      </div>
      <!-- /.header__menu -->
      <div class="header__phone">
        <a href="tel:+7944782255" class="logo">+7 (944) 78-22-55</a>
      </div>
      <!-- /.header__phone -->
      <div class="header__card">
        <a href="#" class="logo">
          <img src="assets/images/global/header-card.svg" alt="Корзина">
        </a>
        <div class="card-goods">
          1
        </div>
      </div>
      <!-- /.header__card -->
      <div class="header__search">
        <a href="#" class="logo">
          <img src="assets/images/global/header-search.svg" alt="Поиск">
        </a>
      </div>
      <!-- /.header__search -->
    </div>
    <!-- /.header__wrapper -->
  </div>
  <!-- /.container -->
</header>