<header id="header" class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__logo">
        <a href="/" class="logo"><img src="assets/images/global/logo.png" alt="лого"></a>
      </div>
      <!-- /.header__logo -->
      <div class="header__catalog dropdown-nav">
        <a href="#" class="button-primary header-button">Каталог</a>
          <div class="catalog-menu">
            <ul>
              <li><a href="#" class="link">Сет из 6 костных бульонов</a></li>
              <li><a href="#" class="link">Куриный костный бульон</a></li>
              <li><a href="#" class="link">Костный говяжий бульон</a></li>
              <li><a href="#" class="link">Охотничий костный бульон</a></li>
              <li><a href="#" class="link">Рыбный костный бульон</a></li>
            </ul>
            <ul>
              <li><a href="#" class="link">Костный бульон из индейки</a></li>
              <li><a href="#" class="link">Костный бульон из баранины</a></li>
              <li><a href="#" class="link">Амарантовый хлеб «Целитель»</a></li>
              <li><a href="#" class="link">Бородинский заварной хлеб «Целитель»</a></li>
              <li><a href="#" class="link">Кето-булочки классические</a></li>
            </ul>
            <ul>
              <li><a href="#" class="link">Кето-булочка с семенами</a></li>
              <li><a href="#" class="link">Утиный костный бульон</a></li>
              <li><a href="#" class="link">Вспениватель ProBulion</a></li>
            </ul>
          </div>
          <!-- /.catalog-menu -->
      </div>
      <!-- /.header__catalog -->
      <div class="header__menu">
        <nav class="nav nav--header">
          <ul class="nav__list">
            <li class="menu-item nav__item current-menu-item"><a href="#" class="nav__link link">О нас</a></li>
            <li class="menu-item nav__item"><a href="#" class="nav__link link">Для кого</a></li>
            <li class="menu-item nav__item"><a href="#" class="nav__link link">Видеорецепты</a></li>
            <li class="menu-item nav__item"><a href="#" class="nav__link link">Магазины-партнеры</a></li>
            <li class="menu-item nav__item"><a href="#" class="nav__link link">Новости</a></li>
          </ul>
        </nav>
      </div>
      <!-- /.header__menu -->
      <div class="header__phone">
        <a href="tel:+7944782255" class="logo">+7 (944) 78-22-55</a>
      </div>
      <!-- /.header__phone -->
      <div class="header__card">
        <a href="#" class="logo">
          <img src="assets/images/global/header-card.svg" alt="Корзина">
        </a>
        <div class="card-goods">
          1
        </div>
      </div>
      <!-- /.header__card -->
      <div class="header__search">
        <a href="#" class="logo">
          <img src="assets/images/global/header-search.svg" alt="Поиск">
        </a>
      </div>
      <!-- /.header__search -->
      <div class="header__burger">
        <button class="hamburger hamburger--spin" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
      <!-- /.header__burger -->
      <span class="header__line">&nbsp;</span>
      <!-- /.header__line -->
      <div class="header__menu-mobile">
        <include src="layout/menu-mobile.html"></include>
      </div>
      <!-- /.header__menu-mobile -->

    </div>
    <!-- /.header__wrapper -->
  </div>
  <!-- /.container -->
</header>