<ul>
  <li class="mobile-catalog dropdown-nav"><a href="#">Каталог</a>
    <ul class="mobile-catalog__hidden-menu">
      <li><a href="#" class="link">Костный бульон</a></li>
      <li><a href="#" class="link">Манты</a></li>
      <!-- <li><a href="#" class="link">Костный говяжий бульон</a></li>
      <li><a href="#" class="link">Охотничий костный бульон</a></li>
      <li><a href="#" class="link">Рыбный костный бульон</a></li>
      <li><a href="#" class="link">Костный бульон из индейки</a></li>
      <li><a href="#" class="link">Костный бульон из баранины</a></li>
      <li><a href="#" class="link">Амарантовый хлеб «Целитель»</a></li>
      <li><a href="#" class="link">Бородинский заварной хлеб «Целитель»</a></li>
      <li><a href="#" class="link">Кето-булочки классические</a></li>
      <li><a href="#" class="link">Кето-булочка с семенами</a></li>
      <li><a href="#" class="link">Утиный костный бульон</a></li>
      <li><a href="#" class="link">Вспениватель ProBulion</a></li> -->
    </ul>
  </li>
  <li><a href="#">О нас</a></li>
  <li><a href="#">Для кого</a></li>
  <li><a href="#">Видеорецепты</a></li>
  <li><a href="#">Магазины-партнеры</a></li>
  <li><a href="#">Новости</a></li>
</ul>