.button-primary {
  padding: 17px 40px;
  border: 1px solid $link-hover-color;
  border-radius: 45px;
  background-color: $palette-white;
  color: $link-hover-color;
  font-size: 18px;
  transition: $transition-time;

  &:hover {
    // border: 1px $palette-white;

    background-color: $palette-green;
    color: $color-text__white;
  }
}