.button-secondary {
  padding: 17px 40px;
  border: 1px solid #ACFFE1;
  border-radius: 45px;
  background-color: transparent;
  color: #ACFFE1;
  font-size: 18px;
  transition: $transition-time ease;

  &:hover {
    // border: 1px $palette-white;

    border: 1px solid $palette-white;
    // background-color: $palette-green;

    background-color: #01614a;
    color: $color-text__white;

  }
}