.button-white {
  width: auto !important;
  margin: 5px 15px 5px 0;
  padding: 10px 15px;
  border: 1px solid $palette-white;
  border-radius: 45px;
  color: $palette-white;
  font-family: $font-second;
  transition: $transition-time ease;

  &:hover {
    border: 1px solid #01614a;
    background-color: #01614a;
  }
}